#navbar{
   
    @media (max-width: 767px) {
      width: 100%;
      height: 100px;
    }
    @media (max-width: 400px) {
      width: 100%;
      width: 100px;
    }
}
/* #diesel{
  @media (max-width: 767px) {
    display:"none";
  }
  @media (max-width: 400px) {
  display: "none";
  }
  
} */
@media (max-width: 760px) {
  .hide-diesel-logo {
    display: none;
  }
}
@media (max-width: 400px) {
  .hide-diesel-logo{

  
  display: "none";
  }}